<%= form_for([@product, @rental]) do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input type ="hidden" name ="product_id" value="<%= @product.id %>">
  <input type ="hidden" name ="rental_id" value="<%= @rental.id %>">

  <h6>レンタル期間をお選びください</h6>
  <input type="number" name="rental_day" min="<%= @product.minimum_rental_day %>" max="<%= @product.maximum_rental_day %>" required = "required" placeholder ="<%= @product.minimum_rental_day %>日〜<%= @product.maximum_rental_day %>日以内の間でお選びください" style ="width:400px;"> <br>　

    <% if @sold_out.present? %>
    <p><%= @sold_out %></p>
    <% else %>
      <div class="actions">
    <%= f.submit %>
  </div>



  <% end %>

<% end %>
